<% favorites.forEach(function(favorite) { %>
  <a href="/movies/<%= favorite.imdbId %>"><h1><%= favorite.title %> - <small><%= favorite.year %></small></h1></a>
  <a class="button" href="/favorites/<%= favorite.imdbId %>/comments">See Comments</a>
<% }); %>
