<h1>Welcome to the Authors and Posts Blog Thing!</h1>
<a href="/posts"><button type="button">Posts</button></a>
<a href="/create_post"><button type="button">Create New Post</button></a>
<a href="/authors"><button type="button">Authors</button></a>
<a href="/create_author"><button type="button">Create New Author</button></a>